Package: com.b01s.nogmstartupfootercard
Name: NoGMStartupFooterCard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide Google Maps startup footer card.
Maintainer: b01s <zlhb2791@gmail.com>
Author: b01s <zlhb2791@gmail.com>
Section: Tweaks
